@import "tailwindcss";

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

pre {
  border-radius: 10px;
  padding: 1rem;
}

code:has(> span) {
  padding: 0 !important;
  padding-left: 2.5rem !important;
}

li:not(.task-list-item),
ol {
  margin-left: 1rem;
  /* list-style: none; */
}

li.task-list-item {
  list-style: none !important;
}

ol {
  list-style: number;
  margin-left: 0rem;
}

html {
  /* --pico-primary: red !important; */
}

p a {
  display: inline-block;
}

code {
  counter-set: code;
  position: relative;
}

code>span {}

code>span::before {
  counter-increment: code;
  content: counter(code) " ";
  color: rgba(255, 255, 255, 0.3);
  text-align: right;
  position: absolute;
  display: flex;
  right: 96%;
}
