---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const [, currentLang, ...slug] = Astro.url.pathname.split("/");

const pages = await getCollection("pages");

function getLanguageFlags(collection: CollectionEntry<"pages">[]) {
  return collection.reduce<Record<string, string>>((flags, { slug, data }) => {
    flags[slug] = data["global.flag"];
    return flags;
  }, {});
}

const flags = getLanguageFlags(pages);
---

<!-- <div class="flex p-4 justify-center items-center mt-0 h-full lg:h-auto hover:bg-white/30"> -->
  <span class={`fi fi-${flags[currentLang]} rounded-sm`} style="aspect-ratio: 4/3; width: 2rem;"/>
<!-- </div> -->
