
  <div class="scroll-container">.</div>
<style>

  html {
    scroll-timeline-name: scroll-horizontal;
    scroll-timeline-axis: block;
  }

  .scroll-container {
    display: block;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    height: 5px;
    color: transparent;
    background: red;
    /* height: 100vh; */
    scroll-snap-type: x mandatory;
    animation: scroll-horizontal linear both;
    animation-timeline: scroll();
  }

  @keyframes scroll-horizontal {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>
