---
import getTranslations from '@/utils/getTranslations';
import type { AstroComponentInstance } from 'astro/runtime/server/index.js'
import type { Component } from 'react';

interface Props {
  relative?: boolean | 1 | 0;
  fit?: boolean | 1 | 0;
  row?: boolean | 1 | 0;
  right?: boolean | 1 | 0;
  color?: boolean | 1 | 0;
  title: string;
  enabled?: boolean | number;
}

const { relative, fit, row, right, color, title, enabled = true } = Astro.props
const pointerEvents = `pointer-events: ${enabled ? "all" : "none"}`
const t = await getTranslations(Astro)
---

<label class={`${relative ? "relative" : ""}`} title={enabled ? title : t["nav.available"]} style={`margin-bottom: 0;`}>
  <div class={`icon cursor-pointer flex p-4 justify-center items-center mt-0 h-full lg:h-auto hover:bg-white/30 hover:grayscale-0 transition-all`} style={`filter: grayscale(${color ? 0 : 1}); ${pointerEvents}`}>
    <slot name="icon"/>
  </div>
  <input type="radio" name="nav-item" class="sel hidden" disabled={!enabled}/>
  <div class={`absolute left-0 top-0 flex max-w-screen lg:max-w-80 -z-10 transition-transform bg-[#141418] lg:left-auto lg:right-0 ${right && "right-0 left-auto"} ${fit ? "" : "lg:h-screen"} whitespace-nowrap`} style={`flex-direction: ${row ? "row" : "column"};`}>

    <slot name="title"/>
    <slot/>
  </div>
  <div class="fixed top-0 left-0 w-full h-full -z-30 backdrop-blur-[3px] cursor-default"></div>
</label>

<style>
  .fi:before {
    visibility: hidden;
  }

  .icon:has(+ *:checked) {
    filter: grayscale(0) !important;
  } 

  .icon:hover {
    filter: grayscale(0) !important;
  }

  @media (width < 1024px) {
    .sel + div {
      pointer-events: none;
      transform: translateY(150%);
    }

    .sel:checked + div {
      pointer-events: inherit;
      transform: translateY(-100%);

    }
  }

  @media (width > 1024px) {
    .sel + div {
      pointer-events: none;
      transform: translateX(-100%);
    }

    .sel:checked + div {
      pointer-events: inherit;
      transform: translateX(100%);
    }
  }

  .sel + div + div {
    opacity: 0;
    transition: .4s all ease;
    pointer-events: none;
  }

  .sel:checked + div + div {
    opacity: 1;
    pointer-events: all;
  }


  .sel:checked + div a:hover {

    filter: drop-shadow(1px 1px 0 rgba(255, 255, 255, .3)) 
            drop-shadow(-1px -1px 0 rgba(255, 255, 255, .3)) drop-shadow(0 0 5px white);
  }


  .country-selector:hover ~div{
    transform: translateX(100%);
  }

  .country-selector ~div:hover{
    transform: translateX(100%);
  }

  .country-selector ~div a:hover{
    filter: drop-shadow(1px 1px 0 rgba(255, 255, 255, .3)) 
            drop-shadow(-1px -1px 0 rgba(255, 255, 255, .3)) drop-shadow(0 0 5px white);
  }

</style>

