---
interface Props {
  href: string;
  classes?: string;
}

const { href, classes } = Astro.props
---

<a href={href} class={`tal text-white/80 px-4 py-2 hover:bg-white/15 cursor-pointer ${classes}`}>
  <slot/>
</a>

<style>
  .tal {
    text-overflow: ellipsis;
    /* Needed to make it work */
    overflow: hidden;
    white-space: nowrap;
  }
</style>
